tests/olaf_test_db/*
.DS_Store
bin/*
*.o
*.csv
*.vs*
*wav
*so
__pycache__
*mkv
zig-out/*
zig-cache/*
src/zig-cache/*

eval/dataset/*
dataset/

olaf_cffi*

*.theia*
*debug.cfg
*debug_custom.json
*esp32.svd

docs/api/*

wasm/js/olaf_processor.js

.zig-cache/
.olaf

zig-out/
zig-cache/

zig_wrapper/zig_out/

libolaf_wrapper_translation.a
